body {
  box-sizing: border-box;
  padding: 0 200px;
  background-color: #c6ddbf;
}
h1,
h2,
button,
p {
  font-family: "Lexend Deca", sans-serif;
}
h1 {
  font-size: 60px;
  color: #0d4070;
}
h2 {
  font-size: 40px;
  color: #c6ddbf;
  background-color: #ff4324;
  display: inline;
  padding: 0 5px;
}
button {
  background-color: #c6ddbf;
  border: 2px solid #0d4070;
  border-radius: 5px;
  color: #0d4070;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  &:hover {
    border: 2px solid #ff4324;
  }
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}
.hide {
  display: none;
}
#scorePopUp {
  div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 50px;
    position: fixed;
    top: 5vh;
    left: 10%;
    height: 70vh;
    width: 70%;
    background-color: #ff4324;
    h2,
    p {
      display: block;
      text-align: center;
    }
  }
}
//progressbar
#progress {
  width: 200px;
  height: 30px;
  background-color: #acd4a1;
}
#gauge {
  background-color: #ffb924;
  height: 100%;
  width: 10%;
}
#pencent {
  position: relative;
  top: -40px;
  right: -10px;
}
@media (max-width: 800px) {
  body {
    padding: 0 30px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
  }
  button{
    width: 100%;
  }
  .container {
    margin: 20px 0;
  }
  #progress {
    width: 100%;
  }
  #scorePopUp {
    div {
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
    }
    button{
      width: 80%;
    }
  }
}
